@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{ padding:0;
margin:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  background:lightblue;
  display:flex;
  justify-content:center;
  min-height:100vh;
  align-content:center;
}

.lft{ position:relative;
  background:#003147;
 padding:40px;
  
}

/*img section*/

.personal-info {
 
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-bottom:20px;
  border-bottom:1px solid rgba(255,255,255,.3);
  
}
.personal-info h1{
  color:#fff;
  font-weight:600;
  margin-top:10px;
  font-size:1.8rem;
  
}
.personal-info span{
  color:#fff;
  font-size:1rem;
   margin-left:20px;
}
.img-box img{
 border-radius:100%;

}
/*contact info*/
.contact-info{
  border-bottom:3px dotted rgba(255,255,255.3);
}
.contact-info h2{
  color:#fff;
  margin:15px 0px;
}
.contact-info ul{
  list-style:none;
  padding:0;
}
.contact-info ul li {
  color:#fff;
  margin-bottom:10px;
}

.contact-info ul li span{
  font-size:1rem;
}
.contact-info .icon{
  display:inline-block;
  margin-right:10px;
  height:40px;
  width:40px;
  line-height:40px;
  background:#222;
  color:#fff;
  border-radius:10px;
  font-size:1.5rem;
  text-align:center;
   transition:.4s;
}
.contact-info .icon:hover{
  background:#fff;
  color:#222;
 
  cursor:pointer;
}
/* education section */

.education{
  
}
.education h2{
  position:relative;
}
.education h2::after{
  content:"";
  position:absolute;
  height:3px;
  width:150px;
  background:#ddd;
  top:100% ;
  left:0;
  
}

.education ul{
  
  
}
.education ul li{
  margin:25px 0px;
}
.education ul li h5{
  
}
.education ul li h4{
  text-align:center;
}


/*language section*/

.language{
  border-bottom:none;
  
}
.language h2{
  position:relative;
}
.language h2::after{
  content:"";
  position:absolute;
  height:4px;
  width:150px;
  background:gray;
  top:120%;
  left:0;
  bottom:0px;
}
.language ul {
  margin-top:20px;
}
.language ul li{
 margin:25px;
}
.language ul li span{
  display:inline-block;
  font-size:1.4rem;
  margin-bottom:10px!important;
}

.animat{
  animation: animate 4s ease-in-out forwards ;
 
}
@keyframes animate{
  from{
    width:0;
  }
}
.progress{
  border-radius:20px!important;
  margin-bottom:10px;
}

/*right  part*/
.rgt{ position:relative;
  background:#fff;
  padding:40px;
}

.title2 h1{ text-align:center;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  color:#003147;
  margin-bottom:50px;
  position:relative;
}
.title2 h1::after{
  content:"";
  position:absolute;
  left:27%;
  top:100%;
  height:4px;
  width:220px;
  background:#003147;
}
/*experience*/
.job-section{
  margin-top:30px;
}
.job-section .box{
  display:flex;
  flex-direction:row;
  margin-right:25px 0px;
}
.company {
  min-height:70px;
  min-width:200px;
  margin-right:10px;
}
.company h3{
  font-size:1.2rem;
}
.c-text h4{
  color:#217da2;
  font-size:1.2rem;
}

/*skill bar*/
.skill{
  animation: skillanimate 4s ease-in-out forwards ;
  background:red;
}
@keyframes skillanimate{
  from{
    width:0;
  }
}

/*interest section*/

.interest{
  
}
.interest ul{
  list-style:none;
}
.interest ul li{
  margin:10px 0px;
  font-size:1rem;
  display:block;
}
.interest ul li i{
    display:inline-block;
  margin-right:10px;
  height:40px;
  width:40px;
  line-height:40px;
  background:#fff;
  color:#000;
  border-radius:10px;
  font-size:1.5rem;
  text-align:center;
   transition:.4s;
}

.interest ul li:hover > i{
  background:#000;
  color:#fff;
}
.interest ul li span{
  font-size:1.4rem;
  display:inline-block;
}